extends default

block content
    .row
        .card
            .card-body
                p Countdown
                input#input
                p
                button#start.btn Start
                p 
                button#reset.btn Reset
                p
                .card
                    .card-body
                        p#display Countdown: 