extends default

block content
    .container.top-buffer-2
        .row
            .col-md-12.text-center
                h1 Tools for Fools
        .row.top-buffer-1
            .col-md-12.text-center
                .card-columns
                    - for (var x = 0; x < toolList.length ;x++)
                      .card
                          .card-body
                              a(href="/tools/" + toolList[x].route)
                                  h5.card-title= toolList[x].name 
                              p.card-text= toolList[x].description
                              p.card-text
                                - if (toolList[x].active)
                                  small.text-muted Active
                                - else
                                  small.text-muted In Development
        .row
            .col-md-12.text-center
                p This site has been visited: #{count} times