extends default

block content
    .container.top-buffer-2
        .row
            .col-md-12.text-center
                h1 #{tool_name}
        .row.top-buffer-1
            .col-md-12
                block tool
        .row.justify-content-md-center.top-buffer-5
            .col-md-auto
                a(href="/") 
                    button.btn.btn-light Home
                
        